@model IEnumerable<LibrarySystem.Web.ViewModels.BookViewModel>

<script src="~/Content/Scripts/books.js"></script>
<link href="~/Content/Styles/books.css" rel="stylesheet" />
<div class="container">
    @using (Html.BeginForm("Logout", "Users", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Logout</button>
    }
    <h2>Lista de livros</h2>

    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
    {
        <input type="text" name="search" placeholder="Busque por titulo" />
        <button type="submit">Buscar</button>

        <p>
            <a href="@Url.Action("MyRentals", "Rentals")" class="myBooks">Meus livros</a>
        </p>
    }

    <ul>
        @foreach (var book in Model)
        {
            <li>
                <strong>@Html.DisplayFor(modelItem => book.Title)</strong>
                <span>@(book.IsRented ? " - Alugado" : "")</span>
                <a href="@Url.Action("Details", "Books", new { id = book.Id })">Detalhes</a>
            </li>
        }
    </ul>

    <p>
        <a href="@Url.Action("RegisterBook", "Books")" class="newBook">Cadastrar Novo Livro</a>
    </p>
</div>