@model LibrarySystem.Web.ViewModels.LoginViewModel

<h2>Login</h2>

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username)
    </div>
    <div>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
}

<p>
    <a href="@Url.Action("Register", "Users")">Novo Cadastro</a>
</p>
